
<h1>All Quizzes</h1>
<table>
  <thead>
    <th>ID</th>
    <th>Quiz</th>
    <th>Go to questions</th>
    <th>Edit quiz</th>
  </thead>
  {{#each quizzes}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      {{!-- <td>
        <form action="/questions/{{this.id}}/" method="GET">
          <button type="submit">Go</button>
        </form>
      </td>
      <td>
        <form action="/quizzes/{{this.id}}/edit" method="GET">
          <button type="submit">Edit</button>
        </form>
      </td> --}}
    </tr>
  {{/each}}
</table>